@import './common/variables.scss';
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  background-color: var(--icon-background-color);
}
.search-form {
  padding-top: 20px;
  padding-bottom: 20px;
}

#search-form input {
  display: flex;
  margin: 0 auto;
  font-size: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  line-height: 1.3;
  background-color: var(--input-background-color);
}
img {
  display: block;
  width: 100%;
  height: 230px;
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.container {
  width: 1280px;
  padding-right: 25px;
  padding-left: 25px;
  margin-left: auto;
  margin-right: auto;
}
.gallery {
  // outline: 1px solid teal;
  display: flex;
  flex-wrap: wrap;
  padding: 25px 0;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
  & > li {
    // outline: 1px solid teal;
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}
.gallery .photo-card {
  border: var(--border-set);
  border-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-top-radius);
  border-top-left-radius: var(--card-border-top-radius);
  // box-shadow: var(--card-shadow);
  overflow: hidden;
  &:hover,
  &:focus {
    box-shadow: var(--card-shadow-focus);
  }
}
.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: var(--stats-set-gap);
  padding-right: var(--stats-set-gap);
  font-weight: 700;
  background-color: var(--icon-background-color);
}
.stats-item {
  display: flex;
  margin: 10px 0;
  color: var(--color-material-icon);
}
.material-icons {
  margin-right: var(--stats-set-gap);
  &.md-dark {
    color: var(--color-material-icon);
  }
}

.button {
  display: block;
  margin: 15px auto;
  width: 150px;
  color: rgba(233, 242, 250, 0.78);
  background-color: rgb(22, 114, 199);
  &.is-hidden {
    display: none;
  }
}

#spinner.is-hidden {
  display: none;
}
.modal-image {
  border: var(--border-set);
  border-radius: var(--card-border-radius);
  overflow: hidden;
}
.up-scroll {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: block;
  font-size: 28px;
  font-weight: 700;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  color: rgba(220, 20, 60, 0.445);
  background-color: burlywood;
  border: 2px solid rgba(224, 154, 132, 0.479);
  &:focus,
  &:hover {
    background-color: rgba(226, 143, 118, 0.972);
    color: rgba(220, 20, 60, 0.767);
  }
  &.is-hidden {
    display: none;
  }
}
