:root {
  --color-material-icon: rgba(0, 0, 0, 0.7);
  --input-background-color: rgb(223, 243, 230);
  --icon-background-color: rgba(184, 245, 204, 0.7);
  --background-color-main: rgba(184, 245, 204, 0.54);
  --border-color-main: rgba(42, 82, 55, 0.589);
  --card-shadow: 4px 6px 4px -1px rgba(0, 0, 0, 0.7);
  --border-set: 2px solid var(--border-color-main);
  --card-set-gap: 20px;
  --stats-set-gap: 10px;
  --card-border-top-radius: 10px;
  --card-border-radius: 6px;
}
